@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To </h1>
    <div style=" max-width:185px; margin: 0 auto" class="text-center">
        <h1 style="color:blueviolet; font-weight:bold">CYBERQUIZ</h1>
    </div>
    <img src="~/images/LogoTransparent.png" alt="CyberQuiz Logo" class="img-fluid" style="max-width: 150px; margin-top: 0px;"/>
</div>
 