@page
@model CYBERQUIZ.UI.Pages.QuizPages.QuizHomeModel
@{
}

<h2>QuizHome</h2>

<h3>Nätverkssäkerhet</h3>
<div >
    <a asp-page="/QuizPages/QuestionPages/QuizNätverkssäkerhet/Brandväggar">Brandväggar</a>
    <a asp-page="/QuizPages/QuestionPages/QuizNätverkssäkerhet/VPN">VPN</a>
    <a asp-page="/QuizPages/QuestionPages/QuizNätverkssäkerhet/DDoS">Skydd mot DDoS-attacker</a>
</div>

<h3>Autentisering</h3>
<div>
    <a asp-page="/QuizPages/QuestionPages/QuizAutentisering/Lösenord">Lösenord</a>
    <a asp-page="/QuizPages/QuestionPages/QuizAutentisering/Tvåfactorsautentisering">Tvåfactorsautentisering</a>
    <a asp-page="/QuizPages/QuestionPages/QuizAutentisering/OAuth_och_SSO">OAuth och SSO</a>
</div>

<h3>Kryptering</h3>
<div>
    <a asp-page="/QuizPages/QuestionPages/QuizKryptering/Symmetrisk_Kryptering">Symmetrisk Kryptering</a>
    <a asp-page="/QuizPages/QuestionPages/QuizKryptering/Asymmetrisk_Kryptering">Asymmetrisk Kryptering</a>
    <a asp-page="/QuizPages/QuestionPages/QuizKryptering/Hashing">Hashing</a>
</div>