@page
@model CYBERQUIZ.UI.Pages.QuizPages.QuizHomeModel
@{
}

<h2>QuizHome</h2>

<h3>Nätverkssäkerhet</h3>
<div >
    <a asp-page="/QuizPages/QuestionPages/QuizNätverkssäkerhet/Brandväggar">Brandväggar</a>
    <a asp-page="/QuizPages/QuestionPages/QuizNätverkssäkerhet/Intrångsdetektering">Intrångsdetektering</a>
    <a asp-page="/QuizPages/QuestionPages/QuizNätverkssäkerhet/DDoS">Skydd mot DDoS-attacker</a>
</div>

<h3>Applikationssäkerhet</h3>
<div>
    <a asp-page="/QuizPages/QuestionPages/QuizApplikationssäkerhet/Säker_kodning">Säker kodning</a>
    <a asp-page="/QuizPages/QuestionPages/QuizApplikationssäkerhet/OWASP">Skydd mot OWASP Top 10</a>
    <a asp-page="/QuizPages/QuestionPages/QuizApplikationssäkerhet/Kodgranskning_och_penetrationstester">Kodgranskning och penetrationstester</a>
</div>

<h3>Informationssäkerhet</h3>
<div>
    <a asp-page="/QuizPages/QuestionPages/QuizInformationssäkerhet/Konfidentialitet">Konfidentialitet</a>
    <a asp-page="/QuizPages/QuestionPages/QuizInformationssäkerhet/Integritet">Integritet</a>
    <a asp-page="/QuizPages/QuestionPages/QuizInformationssäkerhet/Tillgänglighet">Tillgänglighet</a>
</div>